<h1>Listing SRM Bundles</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Bundle ID</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @srm_bundles.each do |srm_bundle| %>
      <tr>
        <td><%= srm_bundle.name %></td>
        <td><%= srm_bundle.bundle_id %></td>
        <td><%= link_to 'Show', srm_bundle %>
          &nbsp; | &nbsp;<%= link_to 'Edit', edit_srm_bundle_path(srm_bundle) %>
          &nbsp; | &nbsp;<%= link_to 'Destroy', srm_bundle, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New SRM Bundle', new_srm_bundle_path, :class => "badge" %>
