<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @srm_bundle.name %>
</p>
<p>
  <strong>Bundle ID:</strong>
  <%= @srm_bundle.bundle_id %>
</p>


<%= link_to 'Edit', edit_srm_bundle_path(@srm_bundle) %> |
<%= link_to 'Back', srm_bundles_path %>
