<!DOCTYPE html>
<html>
<head>
  <title>Oracle SRM Sample App</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag "//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" %>
  <%= stylesheet_link_tag "//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="header">
  <%=image_tag 'oracle-logo.png' %>
</div>
<div class="container">

  <nav>
    <ul class="nav nav-tabs">
      <li class="active"><a href="<%= root_path %>" style="cursor:pointer;">Messages</a></li>
        <% if current_token %>
          <li>
          <div class="auth">
            <a class="badge" href="<%= delete_token_path %>">Logout</a>
          </div>
          </li>
        <% else %>
          <li>
          <div class="auth">
          <%= render 'layouts/auth' %>
          </div>
          </li>
        <% end %>
    </ul>
  </nav>

  <%= yield %>

</div>

</body>
</html>
